/* fonts */
/* ---Poppins 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,700&display=swap');
:root {
  --bg-color: #73648A;
  --bg-secudary: #E8C04A;
  --color-white: #ffffff;
  --font-primary: 'Poppins', sans-serif;
  --weight-primary: 300;

}

body, html {
  background-color: var(--color-white);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
}

/* header */
#header {
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-color);
}

/* header logo */
.header-logo #header-img {
  width: 46px;
  height: 46px;
}

/* menu */
#nav-bar {
  width: 50%;
}
#nav-bar  #nav-links {
  display: flex;
  justify-content: space-between;
}
#nav-links .nav-link {
  list-style: none;
}
#nav-links .nav-link a {
  text-decoration: none;
  color: var(--color-white);
}

/* section about */
#about {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  text-justify: auto;

}
#about #video {
  width: 50%;
  display: flex;  
}

#about #video iframe {
  width: 100%;
  align-self: center;
}

#about .about {
  width: 40%
}
#about .about h1 {
  color: var(--color-white);
  font-family: var(--font-primary);
}

#about .about p {
  font-family: var(--font-primary);
  font-weight: var(--weight-primary);
  text-align: justify;
}

/* section plan */
#plan {
  background-color: var(--bg-secudary);
  
  
}

#plan h2 {
  margin: 0;
  text-align: center;
}

#plan .plan-div {
  border: 3px solid var(--color-white);
  display: inline-block;
 
}

#plan .plan-div h3 { 
  text-align: center;
}
#plan .plan-div p {
  margin: 0;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
#plan .plan-div button {
  display: block;
  margin: 0 auto;
  padding: 0;
  
}









/* media query */
@media screen and ( max-width: 768px ) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  #about #video {
    border: 1px solid white;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    width: 80%;
  }
  #about .about {
    width: 80%;
  }

  #about .about h1 {
    text-align: center;
  } 