/* fonts */
/* ---Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

:root {
  --bg-color: #73648A;
  --bg-secudary: #E8C04A;
  --color-white: #ffffff;
  --font-primary: 'Poppins', sans-serif;
  --weight-primary: 300;

}

body, html {
  background-color: var(--color-white);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  padding: 0;
}

/* header */
#header {
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-color);
}

/* header logo */
.header-logo #header-img {
  width: 46px;
  height: 46px;
}

/* menu */
#nav-bar {
  width: 50%;
}
#nav-bar  #nav-links {
  display: flex;
  justify-content: space-between;
}
#nav-links .nav-link {
  list-style: none;
}
#nav-links .nav-link a {
  text-decoration: none;
  color: var(--color-white);
}

/* section about */
#about {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  text-justify: auto;

}
#about #video {
  width: 50%;
  display: flex;  
}

#about #video iframe {
  width: 100%;
  align-self: center;
}

#about .about {
  width: 40%
}
#about .about h1 {
  color: var(--color-white);
  font-family: var(--font-primary);
}

#about .about p {
  font-family: var(--font-primary);
  font-weight: var(--weight-primary);
  text-align: justify;
}

/* section plan */
#plan {
  background-color: var(--bg-secudary);
}

#plan .plan-header {
  text-align: center;
}
#plan .plan-header h2 {
  font-family: var(--font-primary);
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
#plan .plan-aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#plan .plan-aside .plan-div {
  border: 2px solid   var(--color-white);
} 
#plan .plan-aside .plan-div  h3 {
  text-align: center;
} 
#plan .plan-aside .plan-div  p {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
#plan .plan-aside .plan-div  button {
  display: block; 
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 10px auto; 
} 

/* section contact  */
.contact {
  background-color: var(--bg-color);
  
}
.contact form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 70%;
}
.contact form label {

}
.contact form input{
  width: 100%;
}
.contact form textarea {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}
.contact form #submit {
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
}








/* media query */
@media screen and ( max-width: 768px ) {
  #about {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }

  #about #video {
    border: 1px solid white;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    width: 80%;
  }
  #about .about {
    width: 80%;
  }

  #about .about h1 {
    text-align: center;
  } 