:root {
  --bg-color: ;
  --color-white: #ffffff;
}

body, html {
  background-color: var(--color-white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

/* header */

/* header logo */
.header-logo #header-img {
  width: 46px;
  height: 46px;
}

